h1 {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700 px;
    text-align: left;
    color: #be3035;
    text-align: center;
    justify-content: center;
    padding-top: 5 px;

}

p {
    font-size: 120 px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300 px;
    text-align: left;
    color: #210000;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

div {
    font-family: 'Rubik', sans-serif;
    font-weight: 300 px;
    text-align: left;
    display: block;
    text-align: center;
    justify-content: center;
}


button {
    padding-top: 15 px;
    padding-bottom: 10 px;
    padding-right: 20 px;
    padding-left: 20 px;
    color: white;
    background-color: darkolivegreen;
    border: 1 px solid darkolivegreen; 
    font-size: 20 px; 
    font-weight: 600;
    border-radius: 8 px;
    transition: all .25s ease; 
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    justify-content: center;

}


button:hover { 
    color: khaki;
}


button:focus {
    box-shadow: 0 0 0 4px khaki;

}


button.poo:hover { 
    color: darkolivegreen;
    background-color: white 
}

button.poo:focus {
    box-shadow: 0 0 0 4px khaki;

}

a:visited {
    color: olive;
}

a:hover {
color: #be3035;
}

a:focus {
    color: teal;
}

.fluffpoo:hover {
    color: #be3035;
    }


.fluffpoo {
    color: darkgreen;
    cursor: not-allowed;
    pointer-events: none;
}

input {
    background-color: darkolivegreen;
}

input:hover {
    background-color: lightgreen;
}

input:focus {
    background-color: khaki;
}


textarea {
    background-color: darkolivegreen;
    text-align: left;
    text-align: center;
}

textarea:hover {
    background-color: lightgreen;
    text-align: left;
}


textarea:focus {
    background-color: khaki;
    text-align: left;
}

label {
    color: #210000;
}

footer {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-align: right;
    padding: 20px;
    color: #210000
}

.container {
    position: relative;
    text-align: center;
    
  }
  
  .centered {
    position: center;
    text-align: center;
    color: lightgreen;
    width: 100%;
    flex: auto;
    top: 20px;
    left: 20px;
    font-size: 100px;
  }

  image, picture, video {
    max-width: 100%;
  }



  @media screen and (max-width: 1231px) and (orientation: landscape){
    body {
      color: white;
    }
  }


  @media screen and (orientation: landscape) {
    body {
      background-color: white;
    }
  }

  @media screen and (max-width: 1231px) {
    body {
      flex-direction: column;
    }
  }  

  @media screen and (min-width: 904px) {
    .container {
      flex-direction: row;
    }
  }  

